Source: percol
Section: utils
Priority: optional
Maintainer: Kozo Nishida <kozo.nishida@gmail.com>
Uploaders: Antoine Beaupré <anarcat@debian.org>
Build-Depends: debhelper (>= 9)
             , python
             , python-setuptools
             , dh-python
XS-Python-Version: >= 2.7
Standards-Version: 3.9.8

Package: percol
Architecture: all
Depends: ${misc:Depends}
       , ${python:Depends}
Recommends: cmigego
Description: interactive selection for UNIX pipes
 An interactive grep tool in your terminal. Percol does the following:
 .
 1. receives input lines from stdin or a file,
 2. lists up the input lines,
 3. waits for your input that filter/select the line(s),
 4. and finally outputs the selected line(s) to stdout.
 .
 Since percol just filters the input and output the result to stdout,
 it can be used in command-chains with | in your shell (UNIX
 philosophy!).
